.chat1-registrationForm {
  padding: 1rem;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 50rem;
}

.chat1-registrationForm__row {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}

.chat1-registrationForm__row_buttons {
  padding-top: 1rem;
  justify-content: center;
}

.chat1-registrationForm__fieldLabel {
  flex-basis: 18rem;
  text-align: left;
}

.chat1-registrationForm__fieldInput:invalid, .chat1-registrationForm__fieldInput_invalid {
  border: 2px solid red;
}

