.chat1-loginform {
  padding: 1rem;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 30rem;
}

.chat1-loginform__row {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}

.chat1-loginform__row_buttons {
  padding-top: 1rem;
  justify-content: center;
}

.chat1-loginform__fieldLabel {
  flex-basis: 10rem;
  text-align: left;
}

.chat1-loginform__fieldInput:invalid {
  border: 2px solid red;
}

