.chat1-loginForm {
  padding: 1rem;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 30rem;
}

.chat1-loginForm__row {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}

.chat1-loginForm__row_buttons {
  padding-top: 1rem;
  justify-content: flex-start;
}

.chat1-loginForm__loginButton {
  padding: 6px;
  font-size: 1.8rem;
  font-weight: bold;
}

.chat1-loginForm__fieldLabel {
  flex-basis: 10rem;
  text-align: left;
}

.chat1-loginForm__fieldInput:invalid {
  border: 2px solid red;
}