.chat1-profilePage {
    padding: 1rem;
}


.chat1-profilePage__row {
    display: flex;
    flex-direction: row;
    padding-top: 0.3rem;
}

.chat1-profilePage__fieldLabel {
    flex-basis: 18rem;
    text-align: left;
    font-weight: bold;
}


.chat1-profilePage__icon_small {
    height: 2rem;
    vertical-align: middle;
    margin-left: 2px;
}