.chat1-newMessage {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}


.chat1-newMessage__buttonContainer {
    
}

.chat1-newMessage__sendButton {
    width: 10rem;
    height: 2rem;
    box-sizing: content-box;
}

.chat1-newMessage__textContainer {
    flex-grow: 1;
    margin-right: 2rem;
}


.chat1-newMessage__messageText {
    width: 100%;
    resize: none;
    box-sizing: content-box;
    margin-right: 2rem;
}


@media only screen and (max-width: 600px) {
    .chat1-newMessage {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
}