.chat1-receivedMessages {
    position: relative;
}

.chat1-receivedMessages__listContainer {
    position: absolute;
}

.chat1-receivedMessages__list {
    padding: 0.5rem;
    margin: 0px;
}


.chat1-receivedMessages__message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat1-receivedMessages__message__text {
    background-color: paleturquoise;
}

.chat1-receivedMessages__message__info {
    font-size: small;
    font-style: italic;
    font-weight: bold;
}

.chat1-receivedMessages__message__timestamp {
    margin-left: 2rem;
}

.chat1-receivedMessages__message__author {
}

.chat1-receivedMessages__downloadMoreMessagesButton {
    margin-top: 1rem;
}


@media only screen and (max-width: 600px) {
    .chat1-receivedMessages {
        position: static;
    }
    
    .chat1-receivedMessages__listContainer {
        position: static;
    }
}