.chat1-receivedMessages {
    position: relative;
}

.chat1-receivedMessages__list {
    position: absolute;
    padding: 0.5rem;
}



.chat1-receivedMessages__message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat1-receivedMessages__message__text {
    background-color: paleturquoise;
}

.chat1-receivedMessages__message__info {
    font-size: small;
    font-style: italic;
    font-weight: bold;
}

.chat1-receivedMessages__message__timestamp {
    margin-left: 2rem;
}

.chat1-receivedMessages__message__author {
}

