/* https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */

html {
  font-size:62.5%; /* =10px */
}

body {
  font-size: 1.6rem; /* =16px */
  background-color: lightgray;
}


h3 {
  font-size: 1.8rem; /* =18px */
  font-weight: bold;
}


h2 {
  font-size: 2.0rem; /* =20px */
  font-weight: bold;
}

h1 {
  font-size: 2.4rem; /* =24px */
  font-weight: bold;
}