.chat1-contacts__contactsList {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  line-height: 1.5;
  width: 100%;
  height: 10rem;
  overflow-y: scroll;
  box-sizing: border-box;
  border: inset gray 2px;
  background-color: azure;
}

.chat1-contacts__contact {
  margin-top: 4px;
  cursor: default;
}

.chat1-contacts__contact_active {
}

.chat1-contacts__contact_inactive {
  color: grey;
}

.chat1-contacts__contact_selected {
  background-color: lightblue;
}

.chat1-contacts__contactIsOnlineIcon {
  height: 3rem;
  vertical-align: middle;
}


/*
.chat1-contacts__contactDispayName {
}

.chat1-contacts__contactDispayName_active {
}

.chat1-contacts__contactDispayName_inactive {
  color: grey;
}
*/