.chat1-contacts {
    text-align: left;
  }

.chat1-contacts__content {
}

.chat1-contacts__row1 {
}

.chat1-contacts__row2 {
  margin-top: 1rem;
}


.chat1-contacts__buttons {
}

.chat1-contacts__fieldLabel {
  font-weight: bold;
}

.chat1-contacts__fieldInput {
  margin-left: 0.2rem;
  width: 30rem;
}

.chat1-contacts__fieldInput:invalid {
  border: 2px solid red;
}

.chat1-contacts__button_addUser {
  margin-left: 0.2rem;
  font-weight: bold;
}
